ShopClient/Service References/GoodsContract/ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessGood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessGood" nillable="true" type="tns:BusinessGood" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessGood" nillable="true" type="tns:ArrayOfBusinessGood" />
  <xs:complexType name="BusinessGood">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GoodCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="GoodId" type="xs:int" />
      <xs:element minOccurs="0" name="GoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessGood" nillable="true" type="tns:BusinessGood" />
</xs:schema>