Client/Service References/OrderContract/ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessOrderItem" nillable="true" type="tns:BusinessOrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessOrderItem" nillable="true" type="tns:ArrayOfBusinessOrderItem" />
  <xs:complexType name="BusinessOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodCount" type="xs:decimal" />
      <xs:element minOccurs="0" name="GoodId" type="xs:int" />
      <xs:element minOccurs="0" name="GoodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderItemSum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessOrderItem" nillable="true" type="tns:BusinessOrderItem" />
  <xs:complexType name="ArrayOfBusinessOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessOrder" nillable="true" type="tns:BusinessOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessOrder" nillable="true" type="tns:ArrayOfBusinessOrder" />
  <xs:complexType name="BusinessOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfBusinessOrderItem" />
      <xs:element minOccurs="0" name="OrderSum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessOrder" nillable="true" type="tns:BusinessOrder" />
</xs:schema>